[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pip = "*"
pipenv = "*"
poetry = "*"
uvicorn = "*"
version-query = "*"

[dev-packages]
sphinx = "*"
sphinx-autobuild = "*"
sphinx-copybutton = "*"
